{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='leagues.css') }}">
{% endblock %}

{% block content %}
{% for user_league in user_leagues %}
    <a href="{{url_for('league.league_page', league=user_league.league_id)">
    {{user_league.league.title}}
    {{user_league.position}}
    {{user_league.old_position - user_league.position}}
    {{user_league.points}}
    </a>
{% endfor %}

<a href="{{url_for('league.create_league')}}">Create League</a>
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="text" name="league_code"/>
    <input type="submit" name="submit"/>
    Join League
</form>
<a href="{{url_for('payments.memberships')}}">Discover Paid Leagues</a>
{% endblock %}