{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='league.css') }}">
{% endblock %}


{% block content %}

League Name
{{league_object.title}}

League Start (Consider a countdown until league starts/end)
{{league_object.start}}

League End
{{league_object.end}}

Joining Code
{{league_object.joining_code}}

Standings
{% for user in user_leagues %}
    {{user.user.teamname}}
    {{user.position}}
    {{user.points}}
    {{user.old_position - user.position}}
{% endfor %}

{% endblock %}