{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<section class="page" id="landing_page">
    <div class="left_half">
        <h1> Create a Team</h1>
        <p> Create a team of 6 players etc.</p>
    </div>
    <div class="right_half">
        <h1></h1>
        <p></p>
    </div>
</section>
<section class="page" id="create_team_page">
    <div class="left_half">
        <h1> Create a Team</h1>
        <p> Create a team of 6 players.</p>
        <a href="{{url_for('teams.transfers')">Create a Team</a>
    </div>
    <div class="right_half">
        <h1></h1>
        <p></p>
    </div>
</section>
<section class="page" id="join_league_page">
    <div class="left_half">
        <h1> Join a League</h1>
        <p> Join a league and compete for glory and pride</p>
        <a href="{{url_for('league.leagues')">Leagues</a>
    </div>
    <div class="right_half">
        <h1></h1>
        <p></p>
    </div>
</section>
<section class="page" id="win_prizes_page">
    <div class="left_half">
        <h1>Win Prizes</h1>
        <p> Elevate the stakes and enter our paid leagues for the opportunity to win prizes </p>
        <a href="{{url_for('payments.memberships')">Memberships</a>
    </div>
    <div class="right_half">
        <h1></h1>
        <p></p>
    </div>
</section>
{% endblock %}