{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='memberships.css') }}">
{% endblock %}

{% block content %}
<form>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for subscription in subscriptions %}
        {{subscription.title}}
        {{subscription.description}}
        {{subscription.cost}}
        <input type="submit" name="submit" value="{{subscription.id}}"/>
    {% endfor %}
</form>
{% endblock %}