{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='my_team.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
 {% endblock %}

 <script>
    var captain_id = {'captain': "0"};

    function save_captain(player_id) {
        captain_id['captain'] = player_id;
        
        $.ajax({
        type: "POST",
        url: "/process_qtc",
        data: JSON.stringify(captain_id),
        contentType: "application/json",
        dataType: 'json' 
    });

    };

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>


{% block content %}

<main>
    <section>
        <h1 id="team_name">{{current_user.teamname}}</h1>
        <section id="team_container">
            <div id="team_type_titles">
                <h2 class="team_type_title" id="otb_title">OTB</h2>
                <h2 class="team_type_title" id="online_title">online</h2>
            </div>
            <div class='team' id="otb_row">
                {% for player_otb in otb_team.players %}
                    <div>
                        <button onclick="make_captain('{{player_otb.player_id}}')">C</button>
                        <p>{{player_otb.player.name}}</p>
                        <p>{{player_otb.player.rating}}</p>
                        <p>{{player_otb.player.cost}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class='team' id="online_row">
                {% for player_online in online_team.players %}
                    <div>
                        <button onclick="make_captain('{{player_online.player_id}}')">C</button>
                        <p class="player_info">{{player_online.player.name}}</p>
                        <p class="player_info">{{player_online.player.rating}}</p>
                        <p class="player_info">{{player_online.player.cost}}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section>
            <button onclick="save_captain()">Save Captain</button>
        </section>
    </section>
    <aside>
        <table>
            
        </table>
    </aside>
</main>
{{current_user.teamname}}



Next Fixture:

{{ next_fixture.title }}
Join the paid league
{{ next_fixture.league }} <button></button>

{% endblock %}